<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p style="color: #2f0174;">© Copyright 2022 HealthLine Care</p>
            </div>
        </div>
    </div>
</footer>


<script src="../css/jquery/dist/jquery.slim.min.js"></script>
<script src="../css/popper.js/dist/umd/popper.min.js"></script>
<script src="../css/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $("#login-Modal-btn").click(function () {
        $('#loginModal').modal('show')
    });
</script>

</body>

</html>