<%- include('partials/header'); -%>

    <!-- <header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Nitin For Everyone</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header> -->



    <div class="row">


        <div style="padding:5%;" class=" col-12 col-sm-6  order-last order-sm-first">



            <div class="col-12 ">
                <h1 style="font-size:300%;color: #2f0174;">HealthLine Care: We Take Care of Your Health</h1>
                <hr style="margin-left: 0px;" class="line">

            </div>




            <div class="col-12 " style="padding:5%;">
                <p style="color: #ababa6;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam praesentium
                    ipsam molestiae
                    porro quo, accusamus dolor maiores officia facilis, velit modi eos placeat eum fuga asperiores
                    repellendus ipsum dignissimos voluptate!. Praesentium dignissimos veniam fugit deserunt delectus
                    molestias error similique, deleniti aperiam asperiores, ullam voluptatem quod quisquam? Quidem
                    deleniti provident possimus a sapiente.</p>



            </div>

            <div>
                <div class="offset-1 row">
                    <div class="col-6">
                        <button style="background-color:#582bbb; border-color: #582bbb;" type="button"
                            class="btn btn-primary btn-lg"><a style="text-decoration: none;" class="text-white"
                                href="/login">&nbsp;&nbsp;Explore&nbsp;&nbsp;</a></button>



                    </div>

                    <div class="col-6">
                        <button style="background-color:#fcebdc;border-color:#fcebdc;" type="button"
                            class="btn btn-primary btn-lg"><a style="text-decoration: none;color: #582bbb;" href="https://docs.google.com/document/d/1gLJd6GnTMm2D_vpKtQtBKNPeUltFksI1MhwAC6zXn0o/edit?usp=sharing">
                                &nbsp;&nbsp;Our App&nbsp;&nbsp;</a></button>
                    </div>
                </div>
            </div>

        </div>



        <div class=" col-12 col-sm-6 align-self-center order-first order-sm-last">
            <img style="float:right" src="../images/landingPageIMG.png" alt="" class="img-fluid ">
        </div>

    </div>



    <%- include('partials/footer'); -%>





        <!-- <div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Login</h4>
              <button type="button" class="close" data-dismiss="modal">
                  &times;
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-row">
                      <div class="form-group col-sm-4">
                              <label class="sr-only" for="exampleInputEmail3">Email address</label>
                              <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="Enter email">
                              <div>

                              </div>
                      </div>
                      <div class="form-group col-sm-4">
                          <label class="sr-only" for="exampleInputPassword3">Password</label>
                          <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                          <div>
                              
                          </div>
                      </div>
                      <div class="col-sm-auto">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox">
                              <label class="form-check-label"> Remember me</label>
                          </div>
                      </div>
                  </div>
                  
                  <div class="form-row">
                      <div>
                          <a id="signup-Modal-btn" style="text-decoration: underline;color: #582bbb;" href="#">New User?</a>
                      </div>
                      &nbsp;&nbsp;
                      <div>
                          <a style="text-decoration: underline;color: #582bbb;" href="#">Forgot Password?</a>
                      </div>
                      <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>        
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">SignUp</h4>
              <button type="button" class="close" data-dismiss="modal">
                  &times;
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-row">
                      <div class="form-group col-sm-4">
                              <label class="sr-only" for="exampleInputEmail3">Email address</label>
                              <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="Enter email">
                              <div>

                              </div>
                      </div>
                      <div class="form-group col-sm-4">
                          <label class="sr-only" for="exampleInputPassword3">Password</label>
                          <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                          <div>
                              
                          </div>
                      </div>
                      <div class="col-sm-auto">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox">
                              <label class="form-check-label"> Remember me</label>
                          </div>
                      </div>
                  </div>
                  
                  <div class="form-row">
                      <div>
                          <a style="text-decoration: underline;color: #582bbb;" href="#">Already Registered?</a>
                      </div>
                      
                      
                      <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary btn-sm ml-1">Sign UP</button>        
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
 -->